---
import ContactForm from "../components/ContactForm.astro"
import Layout from "../layouts/Layout.astro"
import Ubication from "../components/Ubication.astro"
import Title from "../components/Title.astro"
---

<Layout>
<section class="flex flex-col items-center">
    <Title title="Contacto" />   
    <Ubication />
    <ContactForm />
</section>
</Layout>
