---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";

const images = [
  "/images/gallery/1.jpg",
  "/images/gallery/2.jpg",
  "/images/gallery/3.jpg",
  "/images/gallery/4.jpg",
  "/images/gallery/5.jpg",
  "/images/gallery/6.jpg",
  "/images/gallery/7.jpg",
  "/images/gallery/8.jpg",
  "/images/gallery/9.jpg",
  "/images/gallery/10.jpg",
  "/images/gallery/11.jpg",
  "/images/gallery/12.jpg",
  "/images/gallery/13.jpg",
  "/images/gallery/14.jpg",
  "/images/gallery/15.jpg",
  "/images/gallery/16.jpg",
  "/images/gallery/17.jpg",
];
---

<Layout>
  <section class="flex flex-col items-center p-4">
    <Title title="Galería de imágenes" />
    <p class="text-center dark:text-white">En esta sección puedes ver algunas de las imágenes que hemos tomado en nuestros proyectos.</p>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 mt-6">
      {
        images.map((image) => (
          <a href={image}>
            <img class="h-auto max-w-full rounded-lg" src={image} alt="" />
          </a>
        ))
      }
    </div>
  </section>
</Layout>
