---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="p-4">
    <h1>Servicios</h1>
    <article class="grid justify-items-center  md:grid-cols-2 grid-cols-1 gap-x-2 gap-y-2 ">
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
    </article> 
  </section>
</Layout>
