---
import Title from "./Title.astro";
---

<section class="bg-transparent dark:bg-gray-900">

  <Title title="Nosotros" />
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
      <h2
        class="mb-4 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        ¿Quiénes somos?
      </h2>
      <p class="mb-4">
        En Vencol Technology, somos una empresa dedicada a ofrecer soluciones
        tecnológicas integrales para hogares y empresas. Con sede en San Pedro
        de los Milagros, Antioquia, contamos con un equipo comprometido en
        brindar servicios de alta calidad que incluyen instalación de sistemas
        de internet, televisión satelital y TDT, redes de datos, sistemas de
        seguridad y soporte técnico especializado.
      </p>
      <p>
        Nuestra experiencia en el sector nos permite adaptarnos a las
        necesidades de cada cliente, garantizando conectividad confiable,
        seguridad eficiente y tecnología de vanguardia. Más que un proveedor de
        servicios, somos un aliado estratégico que acompaña a nuestros clientes
        en su proceso de transformación digital.
      </p>

      <h2
        class="mb-4 mt-4 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Nuestra misión
      </h2>
      <p class="mb-4">
        Facilitar el acceso a tecnologías innovadoras que mejoren la calidad de vida y potencien el crecimiento de empresas y comunidades.
      </p>
      <h2
      class="mb-4 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white"
    >
      Nuestra visión
    </h2>
    <p class="mb-4">
      Ser la empresa líder en la innovación tecnológica en la región, brindando soluciones integrales que transformen la experiencia digital de nuestros clientes.
    </p>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-8">
      <img
        class="w-full rounded-lg"
        src="/images/about/tecnico.png"
        alt="office content 1"
      />
      <img
        class="mt-4 w-full lg:mt-10 rounded-lg"
        src="/images/about/tecnico2.png"
        alt="office content 2"
      />
    </div>
  </div>
</section>
