
---
import SocialBanner from "./SocialBanner.astro";
import Survey from "./Survey.astro";
---

<footer class="bg-white w-full shadow-sm dark:bg-gray-900">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <SocialBanner />
        <div class="sm:flex sm:items-center sm:justify-between">
            <!-- <a href="https://flowbite.com/" class="hidden md:flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="/images/logo.png" class="dark:hidden h-32 w-24 inline-block" alt="Logo de Vencol Technology" />
      <img src="/images/logo_dark.png" class="hidden h-32 w-24 dark:inline-block" alt="Logo de Vencol Technology" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">VENCOL</span>
            </a> -->
        <Survey />

            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="/" class="hover:underline me-4 md:me-6">Inicio</a>
                </li>
                <li>
                    <a href="/servicios" class="hover:underline me-4 md:me-6">Servicios</a>
                </li>
                <li>
                    <a href="/nosotros" class="hover:underline me-4 md:me-6">Nosotros</a>
                </li>
                <li>
                    <a href="/contacto" class="hover:underline">Contacto</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a href="https://vencol.com/" class="hover:underline">VENCOL</a>. All Rights Reserved.</span>
    </div>
</footer>

