---
import ThemeToggle from "./ThemeToggle.astro";
const currentPath = Astro.url.pathname;

const items = [
    { href: "/", label: "Inicio" },
    { href: "/servicios", label: "Servicios" },
    { href: "/nosotros", label: "Nosotros" },
    { href: "/contacto", label: "Contacto" },
];
---

<nav id="navbar" class="fixed top-0 right-0 left-0 w-full z-50 transition-all duration-300 bg-transparent">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-1">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/images/logo.png" class="h-32 w-24 inline-block dark:hidden" alt="Logo de Vencol Technology" />
      <img src="/images/logo_dark.png" class="h-32 w-24 hidden dark:inline-block" alt="Logo de Vencol Technology" />
      <span class="hidden font-bold md:block self-center text-2xl whitespace-nowrap text-gray-900 dark:text-white">
        VENCOL TECHNOLOGY
      </span>
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="mr-4 inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-700 dark:text-gray-300 rounded-lg lg:hidden hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Abrir menú</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div class="hidden w-full lg:block md:w-auto" id="navbar-default">
      <ul
        class="mr-4 md:pb-4 md:pl-4 font-medium flex flex-col p-4 md:p-0 mt-4 border border-transparent rounded-lg 
               bg-white dark:bg-gray-900 lg:bg-transparent lg:dark:bg-transparent 
               md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0"
      >
        {items.map((item) => (
          <li>
            <a
              href={item.href}
              class={`block py-2 px-3 text-gray-900 dark:text-white rounded-sm hover:bg-gray-100 dark:hover:bg-gray-700 transition-all duration-300 md:hover:bg-transparent md:border-0 md:hover:text-primary-700 dark:md:hover:text-primary-400 md:p-0 ${
                currentPath === item.href ? "md:text-primary-700 dark:md:text-primary-400" : ""
              }`}
              aria-current={currentPath === item.href ? "page" : undefined}
            >
              {item.label}
            </a>
          </li>
        ))}
        <li class="flex justify-center">
          <ThemeToggle />
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Script para cambiar fondo al hacer scroll -->
<script>
  window.addEventListener("scroll", () => {
    const navbar = document.getElementById("navbar");
    if (window.scrollY > 50) {
      navbar?.classList.add("bg-primary-200", "dark:bg-gray-600", "shadow-md");
      navbar?.classList.remove("bg-transparent");
    } else {
      navbar?.classList.remove("bg-primary-200", "dark:bg-gray-600", "shadow-md");
      navbar?.classList.add("bg-transparent");
    }
  });
</script>
