---
import Card from "./Card.astro";
import Title from "./Title.astro";
---

<section
  class="flex flex-col items-center mt-4 min-w-[90%] md:min-w-[70%] w-full md:max-w-[70%] mx-auto mb-16"
>
    <Title title="Servicios" />

  <div>
    <!-- Links tab  -->
    <div class="mb-4 border-b border-gray-200 dark:border-gray-700" >
      <ul
        class="flex flex-wrap -mb-px text-xs md:text-xl font-medium text-center"
        id="default-tab"
        data-tabs-toggle="#default-tab-content"
        role="tablist"
      >
        <li class="me-2" role="presentation">
          <button
            class="inline-block p-4 border-b-2 rounded-t-lg dark:aria-selected:text-primary-700 dark:aria-selected:border-primary-700 aria-selected:text-primary-700 aria-selected:border-primary-700"
            id="internet-tab"
            data-tabs-target="#internet"
            type="button"
            role="tab"
            aria-controls="internet"
            aria-selected="false">Internet</button
          >
        </li>
        <li class="me-2" role="presentation">
          <button
            class="inline-block p-4 border-b-2 rounded-t-lg dark:aria-selected:text-primary-700 dark:aria-selected:border-primary-700 aria-selected:text-primary-700 aria-selected:border-primary-700"
            id="tv-tab"
            data-tabs-target="#tv"
            type="button"
            role="tab"
            aria-controls="tv"
            aria-selected="false">Televisión</button
          >
        </li>
        <li class="me-2" role="presentation">
          <button
            class="inline-block p-4 border-b-2 rounded-t-lg dark:aria-selected:text-primary-700 dark:aria-selected:border-primary-700 aria-selected:text-primary-700 aria-selected:border-primary-700"
            id="security-tab"
            data-tabs-target="#security"
            type="button"
            role="tab"
            aria-controls="security"
            aria-selected="false">Sistemas de seguridad</button
          >
        </li>
   
      </ul>
    </div>

    <!-- content tab -->
    <div id="default-tab-content">
      <div
        class="hidden pb-0 px-4 pt-4 rounded-lg bg-gray-100 dark:bg-gray-800"
        id="internet"
        role="tabpanel"
        aria-labelledby="internet-tab"
      >
        <h2 class="text-2xl md:text-4xl font-extrabold dark:text-white text-center">
          Conoce nuestros planes de Internet
        </h2>
        <div class="flex flex-col items-center justify-center gap-4 mt-4">
          <div class="w-[90%] md:w-[60%] text-justify mx-auto">
            <p class="text-sm text-gray-500 dark:text-gray-400">
              <strong class="font-medium text-gray-800 dark:text-white"
                >Te ofrecemos un servicio de Internet rápido y confiable, ideal
                tanto para tu hogar como para tu empresa. Contamos con planes
                flexibles que se adaptan a tus necesidades y presupuesto, para
                que siempre estés conectado sin complicaciones.</strong
              >
            </p>
          </div>

          <div class="flex items-center justify-center gap-4 mt-4">
            <div class="min-h-96 hidden md:block w-[40%]">
              <img
                class="rounded-t-lg w-96 h-96"
                src="/images/services/chica_internet.png"
                alt=""
              />
            </div>
            <div
              class="w-[100%] md:w-[60%] grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-2 md:gap-4 min-h-96 p-2 md:p-4"
            >
            <Card 
            link="https://wa.me/573104932587?text=Hola%2C%20me%20gustaria%20contratar%20un%20plan%20de%20internet%2050%20Mbps" 
            title="50 Mbps" 
            description="Plan de 50 Mbps" 
          />
          <Card 
            link="https://wa.me/573104932587?text=Hola%2C%20me%20gustaria%20contratar%20un%20plan%20de%20internet%20100%20Mbps" 
            title="100 Mbps" 
            description="Plan de 100 Mbps" 
          />
          <Card 
            link="https://wa.me/573104932587?text=Hola%2C%20me%20gustaria%20contratar%20un%20plan%20de%20internet%20200%20Mbps" 
            title="200 Mbps" 
            description="Plan de 200 Mbps" 
          />
          <Card 
            link="https://wa.me/573104932587?text=Hola%2C%20me%20gustaria%20contratar%20un%20plan%20de%20internet%20500%20Mbps" 
            title="500 Mbps" 
            description="lorem" 
          />
          
            </div>
          </div>
        </div>
      </div>
      <div
        class="hidden pb-0 px-4 pt-4  rounded-lg bg-gray-100 dark:bg-gray-800"
        id="tv"
        role="tabpanel"
        aria-labelledby="tv-tab"
      >
        <h2 class="text-2xl md:text-4xl font-extrabold dark:text-white text-center">
          Instalación de servicios de televisión
        </h2>
        <div class="flex flex-col items-center justify-center gap-4 mt-4">
          <div class="w-[90%] md:w-[60%] text-justify mx-auto">
            <p class="text-sm text-gray-500 dark:text-gray-400">
              <strong class="font-medium text-gray-800 dark:text-white"
                >Realizamos la instalación profesional de sistemas de televisión
                como DirecTV, Claro y TDT. Te asesoramos en la selección,
                configuración y puesta en marcha del servicio que mejor se
                adapte a tu hogar o negocio, garantizando una conexión óptima y
                de calidad.</strong
              >
            </p>
          </div>
          <div class="flex items-center justify-center gap-4 mt-4">
            <div class="min-h-96 hidden md:block">
              <img
                class="rounded-t-lg w-96 h-96"
                src="/images/services/chica_tv.png"
                alt=""
              />
            </div>
            <div
              class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-2 md:gap-4 min-h-96 p-2 md:p-4"
            >
              <Card link="https://wa.me/573104932587?text=Hola%2C%20me%20gustaria%20contratar%20un%20plan%20de%20televisi%C3%B3n%20DirecTV" title="DirecTV" description="Servicio DirecTV" />
              <Card link="https://wa.me/573104932587?text=Hola%2C%20me%20gustaria%20contratar%20un%20plan%20de%20televisi%C3%B3n%20Claro" title="Claro" description="Servicio Claro" />
              <Card link="https://wa.me/573104932587?text=Hola%2C%20me%20gustaria%20contratar%20un%20plan%20de%20televisi%C3%B3n%20TDT" title="TDT" description="Servicio TDT" />
            </div>
          </div>
        </div>
      </div>
      <div
        class="hidden pb-0 px-4 pt-4 rounded-lg bg-gray-100 dark:bg-gray-800"
        id="security"
        role="tabpanel"
        aria-labelledby="security-tab"
      >
      <h2 class="text-2xl md:text-4xl font-extrabold dark:text-white text-center">
        Instalación de sistemas de alarmas y CCTV
      </h2>
      <div class="flex flex-col items-center justify-center gap-4 mt-4">
        <div class="w-[90%] md:w-[60%] text-justify mx-auto">
          <p class="text-sm text-gray-500 dark:text-gray-400">
            <strong class="font-medium text-gray-800 dark:text-white"
              >Protege tu hogar o negocio con sistemas de alarmas y videovigilancia de última generación. Realizamos la instalación de cámaras y alarmas con configuración personalizada, para que tengas control y tranquilidad en todo momento.</strong
            >
          </p>
        </div>
        <div class="flex items-center justify-center gap-4 mt-4">
            <div class="min-h-96 hidden md:block">
              <img
                class="rounded-t-lg w-96 h-96"
                src="/images/services/chica_cam.png"
                alt=""
              />
            </div>
            <div
              class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-2 md:gap-4 min-h-96 p-2 md:p-4"
            >
              <Card link="https://wa.me/573104932587?text=Hola%2C%20me%20gustaria%20contratar%20un%20plan%20de%20alarmas" title="Alarmas" description="Servicio Alarmas" />
              <Card link="https://wa.me/573104932587?text=Hola%2C%20me%20gustaria%20contratar%20un%20plan%20de%20CCTV" title="CCTV" description="Servicio Cámaras de seguridad" />
            </div>
          </div>
      </div>
      </div>
      <div
        class="hidden pb-0 px-4 pt-4 rounded-lg bg-gray-100 dark:bg-gray-800"
        id="contacts"
        role="tabpanel"
        aria-labelledby="contacts-tab"
      >
        <p class="text-sm text-gray-500 dark:text-gray-400">
          <strong class="font-medium text-gray-800 dark:text-white"
            >Te ofrecemos 4 servicio de internet de calidad para tu empresa o tu
            hogar. Nuestros planes son flexibles para que puedas elegir el que
            mejor se adapte a tus necesidades.</strong
          >
        </p>
        <div class="flex flex-wrap items-center justify-around gap-4 mt-4">
        </div>
      </div>
    </div>
  </div>
</section>
