---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Analytics from '@vercel/analytics/astro'
import Footer from "../components/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Vencol Technology. Soluciones de tecnología para tu hogar y negocio</title>
    <meta name="description" content="Vencol Technology. Soluciones de tecnología para tu hogar y negocio" />
  </head>
  <body class="bg-gray-100 dark:bg-gray-900 min-h-screen flex flex-col">
    <main class="flex-1 px-2 md:px-0 pt-[140px] ">
      <!-- <div class="bg-transparent md:h-[136px] h-28"></div> -->
      <Navbar />
      <slot />
      <Analytics />
    </main>
    <Footer />
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"
    ></script>
  </body>
</html>